In [1]:
import pandas as pd

In [2]:
data={"cars":["BMW","VW","Audi","Maruti"],"Passings":[3,7,23,3]}

cars=pd.DataFrame(data)
cars

     cars  Passings
0     BMW         3
1      VW         7
2    Audi        23
3  Maruti         3

In [3]:
print(pd.__version__)

1.4.2

In [4]:
a=[1,2,4,6,8,0]
b=pd.Series(a)
b

0    1
1    2
2    4
3    6
4    8
5    0
dtype: int64

In [5]:
a=[1,2,4,6,8,0]
b=pd.DataFrame(a)
b

   0
0  1
1  2
2  4
3  6
4  8
5  0

In [6]:
import numpy as np
s=pd.Series([1,3,4,5,np.nan,6,8])
s

0    1.0
1    3.0
2    4.0
3    5.0
4    NaN
5    6.0
6    8.0
dtype: float64

In [7]:
dates=pd.date_range("20220101",periods=6)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))

In [9]:
df

                   A         B         C         D
2022-01-01  1.800290  2.636433 -0.983773  1.245963
2022-01-02 -1.015911 -0.592328 -0.032336  0.332593
2022-01-03 -0.393649  1.841215  0.927255  1.995468
2022-01-04 -0.461661  0.566815 -0.159753  0.774680
2022-01-05 -0.729790  1.250911 -1.160183  0.359575
2022-01-06 -0.390771 -1.154021  0.014310 -0.002398

In [10]:
df2=pd.DataFrame({
    "A":1.0,
    "B":pd.Timestamp("20220101"),
    "C":pd.Series(1,index=list(range(4)),dtype="float32"),
    "D":np.array([3]*4, dtype="int32"),
    "E":pd.Categorical(["test","train","test","train"]),
    "F":"foo",
}
)
df2

     A          B    C  D      E    F
0  1.0 2022-01-01  1.0  3   test  foo
1  1.0 2022-01-01  1.0  3  train  foo
2  1.0 2022-01-01  1.0  3   test  foo
3  1.0 2022-01-01  1.0  3  train  foo

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
                 
df2.align

<bound method DataFrame.align of      A          B    C  D      E    F
0  1.0 2022-01-01  1.0  3   test  foo
1  1.0 2022-01-01  1.0  3  train  foo
2  1.0 2022-01-01  1.0  3   test  foo
3  1.0 2022-01-01  1.0  3  train  foo>

In [13]:
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.to_numpy()#df to numpy array conversion

array([[ 1.80028981e+00,  2.63643292e+00, -9.83773388e-01,
         1.24596324e+00],
       [-1.01591092e+00, -5.92327698e-01, -3.23363393e-02,
         3.32592761e-01],
       [-3.93648791e-01,  1.84121471e+00,  9.27254960e-01,
         1.99546759e+00],
       [-4.61661418e-01,  5.66814552e-01, -1.59753209e-01,
         7.74680397e-01],
       [-7.29790091e-01,  1.25091062e+00, -1.16018282e+00,
         3.59574769e-01],
       [-3.90770748e-01, -1.15402130e+00,  1.43095471e-02,
        -2.39843776e-03]])

In [16]:
df2.to_numpy()

array([[1.0, Timestamp('2022-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2022-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-01-01 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.198582  0.758171 -0.232414  0.784313
std    1.008949  1.446415  0.758460  0.732595
min   -1.015911 -1.154021 -1.160183 -0.002398
25%   -0.662758 -0.302542 -0.777768  0.339338
50%   -0.427655  0.908863 -0.096045  0.567128
75%   -0.391490  1.693639  0.002648  1.128143
max    1.800290  2.636433  0.927255  1.995468

In [18]:
df.T#transpose

   2022-01-01  2022-01-02  2022-01-03  2022-01-04  2022-01-05  2022-01-06
A    1.800290   -1.015911   -0.393649   -0.461661   -0.729790   -0.390771
B    2.636433   -0.592328    1.841215    0.566815    1.250911   -1.154021
C   -0.983773   -0.032336    0.927255   -0.159753   -1.160183    0.014310
D    1.245963    0.332593    1.995468    0.774680    0.359575   -0.002398

In [19]:
df

                   A         B         C         D
2022-01-01  1.800290  2.636433 -0.983773  1.245963
2022-01-02 -1.015911 -0.592328 -0.032336  0.332593
2022-01-03 -0.393649  1.841215  0.927255  1.995468
2022-01-04 -0.461661  0.566815 -0.159753  0.774680
2022-01-05 -0.729790  1.250911 -1.160183  0.359575
2022-01-06 -0.390771 -1.154021  0.014310 -0.002398

In [20]:
df.sort_index(axis=1,ascending=False)#sort by index with axis

                   D         C         B         A
2022-01-01  1.245963 -0.983773  2.636433  1.800290
2022-01-02  0.332593 -0.032336 -0.592328 -1.015911
2022-01-03  1.995468  0.927255  1.841215 -0.393649
2022-01-04  0.774680 -0.159753  0.566815 -0.461661
2022-01-05  0.359575 -1.160183  1.250911 -0.729790
2022-01-06 -0.002398  0.014310 -1.154021 -0.390771

In [21]:
df.sort_values(by="A")

                   A         B         C         D
2022-01-02 -1.015911 -0.592328 -0.032336  0.332593
2022-01-05 -0.729790  1.250911 -1.160183  0.359575
2022-01-04 -0.461661  0.566815 -0.159753  0.774680
2022-01-03 -0.393649  1.841215  0.927255  1.995468
2022-01-06 -0.390771 -1.154021  0.014310 -0.002398
2022-01-01  1.800290  2.636433 -0.983773  1.245963

In [22]:
sa = pd.Series([1, 2, 3], index=list('abc'))
sa

a    1
b    2
c    3
dtype: int64

In [23]:
dfa=df.copy()
dfa

                   A         B         C         D
2022-01-01  1.800290  2.636433 -0.983773  1.245963
2022-01-02 -1.015911 -0.592328 -0.032336  0.332593
2022-01-03 -0.393649  1.841215  0.927255  1.995468
2022-01-04 -0.461661  0.566815 -0.159753  0.774680
2022-01-05 -0.729790  1.250911 -1.160183  0.359575
2022-01-06 -0.390771 -1.154021  0.014310 -0.002398

In [24]:
df.loc[:,["B","A"]]=df[["A","B"]].to_numpy()

In [25]:
df[["A","B"]]

                   A         B
2022-01-01  2.636433  1.800290
2022-01-02 -0.592328 -1.015911
2022-01-03  1.841215 -0.393649
2022-01-04  0.566815 -0.461661
2022-01-05  1.250911 -0.729790
2022-01-06 -1.154021 -0.390771

In [26]:
dfa.A

2022-01-01    1.800290
2022-01-02   -1.015911
2022-01-03   -0.393649
2022-01-04   -0.461661
2022-01-05   -0.729790
2022-01-06   -0.390771
Freq: D, Name: A, dtype: float64

In [27]:
dfa.A=list(range(len(dfa.index))) # use this form to create a new column

In [28]:
dfa

            A         B         C         D
2022-01-01  0  2.636433 -0.983773  1.245963
2022-01-02  1 -0.592328 -0.032336  0.332593
2022-01-03  2  1.841215  0.927255  1.995468
2022-01-04  3  0.566815 -0.159753  0.774680
2022-01-05  4  1.250911 -1.160183  0.359575
2022-01-06  5 -1.154021  0.014310 -0.002398

In [29]:
x=pd.DataFrame({"x":[1,2,3],"y":[3,4,5]})
x

   x  y
0  1  3
1  2  4
2  3  5

In [30]:
x.iloc[1]={"x":9,"y":99}

In [31]:
x

   x   y
0  1   3
1  9  99
2  3   5

In [32]:
df3=pd.DataFrame({'one':[1.,2.,3.]})

In [33]:
df3.two=[4,5,6]

C:\Users\pune\AppData\Local\Temp\ipykernel_12056\485050111.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df3.two=[4,5,6]

In [34]:
df3["two"]=[4,5,6]

In [35]:
df3

   one  two
0  1.0    4
1  2.0    5
2  3.0    6

In [37]:
s=df["A"]#series
s

2022-01-01    2.636433
2022-01-02   -0.592328
2022-01-03    1.841215
2022-01-04    0.566815
2022-01-05    1.250911
2022-01-06   -1.154021
Freq: D, Name: A, dtype: float64

In [38]:
s[:5]

2022-01-01    2.636433
2022-01-02   -0.592328
2022-01-03    1.841215
2022-01-04    0.566815
2022-01-05    1.250911
Freq: D, Name: A, dtype: float64

In [39]:
s[::2]

2022-01-01    2.636433
2022-01-03    1.841215
2022-01-05    1.250911
Freq: 2D, Name: A, dtype: float64

In [40]:
s[::-1]

2022-01-06   -1.154021
2022-01-05    1.250911
2022-01-04    0.566815
2022-01-03    1.841215
2022-01-02   -0.592328
2022-01-01    2.636433
Freq: -1D, Name: A, dtype: float64

In [45]:
s[1::-1]

2022-01-02   -0.592328
2022-01-01    2.636433
Freq: -1D, Name: A, dtype: float64

In [46]:
s2=s.copy()

In [47]:
s2[:3]=0
s2

2022-01-01    0.000000
2022-01-02    0.000000
2022-01-03    0.000000
2022-01-04    0.566815
2022-01-05    1.250911
2022-01-06   -1.154021
Freq: D, Name: A, dtype: float64

In [48]:
df#dataframe

                   A         B         C         D
2022-01-01  2.636433  1.800290 -0.983773  1.245963
2022-01-02 -0.592328 -1.015911 -0.032336  0.332593
2022-01-03  1.841215 -0.393649  0.927255  1.995468
2022-01-04  0.566815 -0.461661 -0.159753  0.774680
2022-01-05  1.250911 -0.729790 -1.160183  0.359575
2022-01-06 -1.154021 -0.390771  0.014310 -0.002398

In [49]:
df[:3]

                   A         B         C         D
2022-01-01  2.636433  1.800290 -0.983773  1.245963
2022-01-02 -0.592328 -1.015911 -0.032336  0.332593
2022-01-03  1.841215 -0.393649  0.927255  1.995468

In [53]:
df[::-1]

                   A         B         C         D
2022-01-06 -1.154021 -0.390771  0.014310 -0.002398
2022-01-05  1.250911 -0.729790 -1.160183  0.359575
2022-01-04  0.566815 -0.461661 -0.159753  0.774680
2022-01-03  1.841215 -0.393649  0.927255  1.995468
2022-01-02 -0.592328 -1.015911 -0.032336  0.332593
2022-01-01  2.636433  1.800290 -0.983773  1.245963

In [58]:
df1=pd.DataFrame(np.random.randn(7,4),
                columns=list("ABCD"),
                index=pd.date_range("20220101",periods=7))
df1

                   A         B         C         D
2022-01-01  0.681659  0.349631 -0.491670 -0.334274
2022-01-02 -0.942104  1.369777 -2.696195 -0.607041
2022-01-03  0.445428  0.229174 -1.378239 -0.080161
2022-01-04  1.138563 -0.859133 -0.831589 -0.290096
2022-01-05  0.517830 -0.790765  0.070352  0.383851
2022-01-06 -1.129654 -0.261518  0.943759  0.939567
2022-01-07  0.742993  0.022358 -0.674235 -0.822960

In [60]:
df1.loc[2:3]

TypeError: cannot do slice indexing on DatetimeIndex with these indexers [2] of type int

In [63]:
df1.iloc[2:6]

                   A         B         C         D
2022-01-03  0.445428  0.229174 -1.378239 -0.080161
2022-01-04  1.138563 -0.859133 -0.831589 -0.290096
2022-01-05  0.517830 -0.790765  0.070352  0.383851
2022-01-06 -1.129654 -0.261518  0.943759  0.939567

In [65]:
df1.loc["2022-01-03":"2022-01-06"]

                   A         B         C         D
2022-01-03  0.445428  0.229174 -1.378239 -0.080161
2022-01-04  1.138563 -0.859133 -0.831589 -0.290096
2022-01-05  0.517830 -0.790765  0.070352  0.383851
2022-01-06 -1.129654 -0.261518  0.943759  0.939567

In [67]:
s1=pd.Series(np.random.randn(5),index=list("abcde"))
s1

a   -0.377438
b   -0.201372
c    0.210598
d    0.278043
e    1.828740
dtype: float64

In [68]:
s1["b":]

b   -0.201372
c    0.210598
d    0.278043
e    1.828740
dtype: float64

In [69]:
s1.loc["c":]

c    0.210598
d    0.278043
e    1.828740
dtype: float64

In [71]:
s1.loc[:"d"]=0
s1

a    0.00000
b    0.00000
c    0.00000
d    0.00000
e    1.82874
dtype: float64

In [89]:
df4=pd.DataFrame(np.random.randn(5,4),
                index=list("efghi"),
                columns=list("ABCD"))
df4

          A         B         C         D
e  1.065965 -0.741667 -1.337634 -0.703185
f -0.877499 -1.019822 -2.013425  0.651796
g  0.810990  0.384602 -0.667556 -0.845252
h -0.184150 -1.181965  2.232134  0.126997
i  1.478950  1.022525  1.113238 -1.637243

In [75]:
df4.loc[["e","f","h"],:]

          A         B         C         D
e -0.025397  1.149140  1.753032  0.286922
f  0.245819  0.723439  0.816165  1.034047
h -0.629158  0.074537  0.438264  0.761641

In [81]:
df4.loc["f":,"A":"C"]

          A         B         C
f  0.245819  0.723439  0.816165
g  0.001045  1.230115 -1.213113
h -0.629158  0.074537  0.438264
i -0.376540 -0.588867 -1.068505

In [83]:
df4.loc["e"] > 0

A    False
B     True
C     True
D     True
Name: e, dtype: bool

In [90]:
df4.loc[:, df4.loc['e'] > 0]

          A
e  1.065965
f -0.877499
g  0.810990
h -0.184150
i  1.478950

In [91]:
s1=pd.Series(np.random.randn(5),index=list(range(0,10,2)))

In [92]:
s1

0   -1.464506
2   -0.808184
4   -0.037835
6    1.331669
8   -0.390106
dtype: float64

In [93]:
s1.iloc[:3]

0   -1.464506
2   -0.808184
4   -0.037835
dtype: float64

In [94]:
s1.iloc[2]

-0.037835192376890946

In [96]:
s1.iloc[:2]=0
s1

0    0.000000
2    0.000000
4   -0.037835
6    1.331669
8   -0.390106
dtype: float64

In [98]:
df5 = pd.DataFrame(np.random.randn(6, 4),
                   index=list(range(0, 12, 2)),
                   columns=list(range(0, 8, 2)))

In [99]:
df5

           0         2         4         6
0   0.838871 -0.647053  0.569789 -0.180939
2   1.079337 -1.715759 -0.128860  1.074420
4   0.390674  1.427139 -0.819195 -1.310345
6   0.613094 -1.234771 -0.508854  0.583569
8   1.062916  0.903142 -2.074506 -0.501759
10 -1.476724  0.052566 -0.789547 -0.360797

In [104]:
df5.iloc[:3]

          0         2         4         6
0  0.838871 -0.647053  0.569789 -0.180939
2  1.079337 -1.715759 -0.128860  1.074420
4  0.390674  1.427139 -0.819195 -1.310345

In [106]:
df5.iloc[1:5,1:3]

          2         4
2 -1.715759 -0.128860
4  1.427139 -0.819195
6 -1.234771 -0.508854
8  0.903142 -2.074506

In [109]:
df5.iloc[[1,2]]

          0         2         4         6
2  1.079337 -1.715759 -0.128860  1.074420
4  0.390674  1.427139 -0.819195 -1.310345

In [111]:
df5.iloc[[1,3],[1,3]]

          2         6
2 -1.715759  1.074420
6 -1.234771  0.583569

In [113]:
df5.iloc[0:3,:]

          0         2         4         6
0  0.838871 -0.647053  0.569789 -0.180939
2  1.079337 -1.715759 -0.128860  1.074420
4  0.390674  1.427139 -0.819195 -1.310345

In [114]:
df5.iloc[:,0:3]

           0         2         4
0   0.838871 -0.647053  0.569789
2   1.079337 -1.715759 -0.128860
4   0.390674  1.427139 -0.819195
6   0.613094 -1.234771 -0.508854
8   1.062916  0.903142 -2.074506
10 -1.476724  0.052566 -0.789547

In [116]:
df5.iloc[1,1]

-1.7157593428649685

In [117]:
df5.iloc[1]

0    1.079337
2   -1.715759
4   -0.128860
6    1.074420
Name: 2, dtype: float64